/*-- VARIABLES ----------*/
$heading: "Montserrat", sans-serif;


/*-- BASICS -----*/
html {
	font-size: 18px;
	line-height: 1.2em;
}

body, html {
	min-height: 100vh;
	width: 100%;
}


/*-- COLOURS -----------*/

.bg-blue {
	background: linear-gradient(to bottom, rgb(49,39,131), rgb(0,174,234));
	color: #fff;
}

.bg-blue__trans {
	background: linear-gradient(to bottom, rgba(49,39,131, .8), rgba(0,174,234, .8));
	color: #fff;
}


/*-- MAIN TYPE ----------*/
h1, h2, h3, h4, h5 ,h6, .heading {
	font-family: $heading;
	font-weight: 300;
	text-transform: uppercase;
}

p, .body {
	font-family: Arial, sans-serif;
}

.bold {
	font-style: normal;
	font-weight: 700;
}


.h-xuberlrg	{ font-size: 20vw; }
.h-uberlrg	{ font-size: 10vw; }

.h-xxlrg	{ font-size: 4.236rem; }
.h-xlrg		{ font-size: 3.4rem; }
.h-lrg		{ font-size: 2.618rem; }
.h-mid		{ font-size: 1.618rem; }
.h-sml		{ font-size: 1rem; }
.h-xsml		{ font-size: .8rem; }

.txt-xxlrg	{ font-size: 2.618rem; }
.txt-xlrg	{ font-size: 1.618rem; }
.txt-lrg	{ font-size: 1.3rem; }
.txt-mid	{ font-size: 1rem; }
.txt-sml	{ font-size: .8rem; }
.txt-xsml	{ font-size: .618rem; }
.txt-xxsml	{ font-size: .4rem; }



/*-- HEADER/NAV ------*/
nav#main-nav {
	width: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;

	padding-top: 1rem;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	z-index: 10;
}

.nav-link {
	font-family: $heading;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	@extend .txt-sml;
	
	box-sizing: border-box;
	margin: 0 2vw;

	cursor: pointer;

	z-index: 100;
	position: relative;

	/* width: 12em;*/
	max-width: 15vw;
	text-align: center;
	transition: color .1s ease-in-out;
	
	span:after {
		content: "";
		transition: width .618s ease-in-out;
		height: 1px;
		background: linear-gradient(to right, rgb(254,203,0), rgb(201,61,10));
		width: 0;
		display: block;
		margin: 0 auto;
		margin-top: .2em;
		cursor: pointer;
	}

	&:hover {
		span:after {
			width: 100%;
		}
	}

	&:not(.max-logo) {
		margin-top: 1.618em;
		
		&:hover 	{ top: -1px; }
		&:active 	{ top: 1px; color:#ccc;	}
	}

	&.max-logo {
		width: 5vw;
		min-width: 50px;
	}
}



/*-- MAIN LAYOUT -------*/
.mb-xxlrg	{ margin-bottom: 4.236em; }
.mb-xlrg	{ margin-bottom: 3.4em; }
.mb-lrg		{ margin-bottom: 2.618em; }
.mb-mid		{ margin-bottom: 1.618em; }
.mb-sml		{ margin-bottom: 1em; }
.mb-xsml	{ margin-bottom: .8em; }

.drk-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #000;
	opacity: .3;

	z-index: 2;
}

.section--cont {
	box-sizing: border-box;
	padding: 8rem 0;
}

.txt--cont {
	height: 100%;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	p {
		line-height: 1.2em;
	}

	p.txt--min-w {
		max-width: 35em;
	}
}

.txt--cont_lrg {
	@extend .txt--cont;

	p {
		width: 100%;
		line-height: .8em;
	}

	p.txt--min-w {
		max-width: 45rem;
	}
}

/*-- HERO ----*/

.hero-heading, .hero-txt {
	z-index: 10;
	position: relative;

	color:#fff;
	text-shadow: 0px 0px 5px rgba(30,30,30,.5);
}

.hero-heading {
	@extend .bold;

	line-height: .9em;
}

.hero-txt {
	max-width: 25em;
	margin: 0 auto;
}

.hero--cont, .txt--cont,
.slide-txt--cont {
	text-align: center;
}

.hero--cont {
	position: relative;
	height: 100vh;
	max-height: 800px;
	width: 100%;

	overflow: hidden;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

iframe.hero-vid {
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	z-index:  1;
}


/*-- COLUMNS -----*/
.col--cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	
	width: 100%;
	margin: 0 auto;
}

.col-4 {
	width: 100%;
	max-width: 19vw;
	flex-basis: 19vw;
}

.col-4__mw {
	@extend .col-4;

	min-width: 19em;
}


/*-- MAX M MASK ----------*/

#to-the-max--cont {
	position: relative;
	height: 25vw;
	width: 25vw;

	margin: 0 auto;
	/* margin-bottom: 1rem;*/

	#to-the-max--mask {
		position: absolute;
		z-index: 10;
	}
}

.m-video--cont {
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
	box-sizing: border-box;
	padding: 1px 0px;

	overflow: hidden;

	z-index: 1;

	video {
		height: 100%;
		width: auto;
	}
}

#to-the-max-txt--cont, 
#to-the-max-txt--max {
	display: none;
}

#to-the-max-txt--to,
#to-the-max-txt--it,
#to-the-max-txt--the {
	opacity: 0;
}


/*-- CAROUSEL/SLIDER ----*/
.slider--cont {
	position: relative;
	/* height: 100vh;*/
	/* max-height: 800px;*/
	width: 100%;

	overflow: hidden;
}

.slide {
	height: 100%;
	width: 100vw;

	position: relative;
}

.slide-txt--cont {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	box-sizing: border-box;
	margin: auto;
	padding: 2vw;

	height: 30rem;
	width: 30rem;
	max-height: 45vw;
	max-width: 45vw;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px)
{
	.slide-txt--cont {
		height: auto;
		width: 100%;
		max-height: none;
		max-width: none;

		padding: 4.236em 1.618em;

		position: relative;

		& p {
			max-width: 32em;
		}
	}
}

.slide-heading {
	@extend .bold;

	margin-bottom: 0.3em;
	line-height: .9em;
}

img.slide-img {
	width: 100vw;
	height: auto;
}

%arw {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;

	cursor: pointer;

	width: 5vw;
	z-index: 100;

	max-width: 50px;
	transition: fill .3s ease, -webkit-transform .1s ease-in-out;
	transition: fill .3s ease, transform .1s ease-in-out;
	transition: fill .3s ease, transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
	
	polygon {
		cursor: pointer;
	}

	&.arw_wht {
		fill: rgba(255,255,255,.7);

		&:hover {
			fill: rgba(255,255,255,1);
		}
		&:active {
			fill: rgba(150,150,150,1);
		}
	}

	&:hover {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}

	&:active {
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
}

.arw-r {
	@extend %arw;
	right: 1rem;
}

.arw-l {
	@extend %arw;
	left: 1rem;
}
