/*-- VARIABLES ----------*/
$heading: "Montserrat", sans-serif;


/*-- BASICS -----*/
html {
	font-size: 18px;
	line-height: 1.35em;
}

body, html {
	min-height: 100vh;
	width: 100%;
}

p {
	line-height: 1.2em;
}


/*-- COLOURS -----------*/

.bg-aqua {
	background: linear-gradient(to bottom, rgb(0,57,64), rgb(0,173,186));
	color: #fff;
}
.bg-aqua__trans {
	background: linear-gradient(to bottom, rgba(0,57,64,.8), rgba(0,173,186,.8));
	color: #fff;
}

.bg-blue {
	background: linear-gradient(to bottom, rgb(49,39,131), rgb(0,174,234));
	color: #fff;
}
.bg-blue__rev {
	background: linear-gradient(to bottom, rgb(0,174,234), rgb(49,39,131));
	color: #fff;
}
.bg-blue__trans {
	background: linear-gradient(to bottom, rgba(49,39,131, .8), rgba(0,174,234, .8));
	color: #fff;
}

.bg-ylw_red {
	background: linear-gradient(to bottom, rgb(140,16,2), rgb(254,202,0));
	color: #fff;
}
.bg-ylw_red__trans {
	background: linear-gradient(to bottom, rgba(140,16,2,.8), rgba(254,202,0,.8));
	color: #fff;
}

.bg-prp {
	background: linear-gradient(to bottom, rgb(37,25,92), rgb(230,0,126));
	color: #fff;
}
.bg-prp__trans {
	background: linear-gradient(to bottom, rgba(37,25,92,.8), rgba(230,0,126,.8));
	color: #fff;
}

.bg-brwn {
	background: linear-gradient(to bottom, rgb(55,33,16), rgb(203,163,72));
	color: #fff;
}
.bg-brwn__trans {
	background: linear-gradient(to bottom, rgba(55,33,16,.8), rgba(203,163,72,.8));
	color: #fff;
}

/*-- MAIN TYPE ----------*/
h1, h2, h3, h4, h5 ,h6, .heading {
	font-family: $heading;
	font-weight: 300;
	text-transform: uppercase;
}

p, .body {
	font-family: Arial, sans-serif;
}

.bold {
	font-style: normal;
	font-weight: 700;
}


.h-xuberlrg	{ font-size: 20vw; }
.h-uberlrg	{ font-size: 10vw; }

.h-xxlrg	{ font-size: 4.236rem; }
.h-xlrg		{ font-size: 3.4rem; }
.h-lrg		{ font-size: 2.618rem; }
.h-mid		{ font-size: 1.618rem; }
.h-sml		{ font-size: 1rem; }
.h-xsml		{ font-size: .8rem; }

.txt-xxlrg	{ font-size: 2.618rem; }
.txt-xlrg	{ font-size: 1.618rem; }
.txt-lrg	{ font-size: 1.3rem; }
.txt-mid	{ font-size: 1rem; }
.txt-sml	{ font-size: .8rem; }
.txt-xsml	{ font-size: .618rem; }
.txt-xxsml	{ font-size: .4rem; }



/*-- HEADER/NAV ------*/
nav#main-nav {
	width: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;

	padding-top: 1rem;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	z-index: 11;
}

.nav-link {
	font-family: $heading;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	@extend .txt-sml;
	
	box-sizing: border-box;
	margin: 0 2vw;

	cursor: pointer;

	z-index: 100;
	position: relative;

	/* width: 12em;*/
	/* max-width: 15vw;*/
	text-align: center;
	transition: color .1s ease-in-out;
	
	span:after {
		content: "";
		transition: width .618s ease-in-out;
		height: 1px;
		background: linear-gradient(to right, rgb(254,203,0), rgb(201,61,10));
		width: 0;
		display: block;
		margin: 0 auto;
		margin-top: .2em;
		cursor: pointer;
	}

	&:hover {
		span:after {
			width: 100%;
		}
	}

	&:not(.max-logo) {
		margin-top: 1.618em;
		
		&:hover 	{ top: -1px; }
		&:active 	{ top: 1px; color:#ccc;	}
	}

	&.max-logo {
		width: 5rem;
		min-width: 50px;
	}
}



/*-- MAIN LAYOUT -------*/
.mt-xxlrg	{ margin-top: 4.236em !important; }
.mt-xlrg	{ margin-top: 3.4em !important; }
.mt-lrg		{ margin-top: 2.618em !important; }
.mt-mid		{ margin-top: 1.618em !important; }
.mt-sml		{ margin-top: 1em !important; }
.mt-xsml	{ margin-top: .8em !important; }

.mb-xxlrg	{ margin-bottom: 4.236em !important; }
.mb-xlrg	{ margin-bottom: 3.4em !important; }
.mb-lrg		{ margin-bottom: 2.618em !important; }
.mb-mid		{ margin-bottom: 1.618em !important; }
.mb-sml		{ margin-bottom: 1em !important; }
.mb-xsml	{ margin-bottom: .8em !important; }

.drk-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #000;
	opacity: .3;

	z-index: 2;
}

.section--cont {
	box-sizing: border-box;
	padding: 8rem 0;
}

.txt--cont {
	height: 100%;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	p {
		line-height: 1.2em;
	}

	p.txt--min-w {
		max-width: 35em;
	}
}

.txt--cont_lrg {
	@extend .txt--cont;

	p {
		width: 100%;
		line-height: .8em;
	}

	p.txt--min-w {
		max-width: 45rem;
	}
}


/*-- HERO CAROUSEL ----*/

.hero-heading, .hero-txt {
	z-index: 10;
	position: relative;

	color:#fff;
	text-shadow: 0px 0px 5px rgba(30,30,30,.5);
}

.hero-heading {
	@extend .bold;

	line-height: .9em;
}

.hero-txt {
	max-width: 25em;
	margin-left: auto;
	margin-right: auto;
}

.hero--cont, .txt--cont,
.slide-txt--cont {
	text-align: center;
}

.hero-slide-txt--cont {
	opacity: 0;
	transition: opacity 1.5s ease;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	z-index: 10;

	&.active {
		opacity: 1;
	}
}

.hero--cont {
	position: relative;
	height: 100vh;
	max-height: 800px;
	width: 100%;

	overflow: hidden;

	@extend .bg-blue;
}

iframe.hero-vid {
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	z-index:  1;

	opacity: 0;
	transition: opacity 1s ease;
}

#hero-vid-1 		{opacity: 1;}
/* #hero-slide-txt-1 	{opacity: 1;}*/


/*-- COLUMNS -----*/
.col--cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.col-3 {
	width: 100%;
	max-width: 30vw;
	flex-basis: 30vw;

	display: flex;
	justify-content: center;
}

.col-4 {
	width: 100%;
	max-width: 25em;
	flex-basis: 25em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.col-4__mw {
	@extend .col-4;

	min-width: 19em;
}

.col-5 {
	width: 100%;
	max-width: 19vw;
	flex-basis: 19vw;

	display: flex;
	justify-content: center;
}


/*-- MAX M MASK ----------*/

#to-the-max--cont {
	position: relative;
	height: 25vw;
	width: 25vw;

	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 1rem;*/

	#to-the-max--mask {
		position: absolute;
		z-index: 10;
	}
}

.m-video--cont {
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
	box-sizing: border-box;
	padding: 1px 0px;

	overflow: hidden;

	z-index: 1;

	video {
		height: 100%;
		width: auto;
	}
}

#to-the-max-txt--cont, 
#to-the-max-txt--max {
	display: none;
}

#to-the-max-txt--to,
#to-the-max-txt--it,
#to-the-max-txt--the {
	opacity: 0;
}


/*-- CAROUSEL/SLIDER ----*/
.slider--cont {
	position: relative;
	/* height: 100vh;*/
	/* max-height: 800px;*/
	width: 100%;
	padding-bottom: 56.25%;

	overflow: hidden;
}

.slide {
	height: 100%;
	width: 100%;

	position: absolute;

	transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
	transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out, -webkit-transform .3s ease-in-out;

	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
}

.slide--active {
	-webkit-transform: translateX(0%);
	        transform: translateX(0%);
}

.slide--left {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.slide-txt--cont {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	box-sizing: border-box;
	margin: auto;
	padding: 2vw;

	height: 30rem;
	width: 30rem;
	max-height: 45vw;
	max-width: 45vw;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px)
{
	.slider--cont__w-txt {
		padding-bottom: calc(56.25% + 25rem);
	}

	.slide-txt--cont {
		height: 25rem;
		width: 100%;
		max-height: none;
		max-width: none;

		padding: 4.236em 1.618em;

		position: relative;

		& p {
			max-width: 32em;
		}
	}
}
@media (max-width: 700px)
{
	.slider--cont {
		padding-bottom: calc(56.25% + 30rem);
	}

	.slide-txt--cont {
		height: 30rem;
	}
}
@media (max-width: 400px)
{
	.slider--cont {
		padding-bottom: calc(56.25% + 33rem);
	}

	.slide-txt--cont {
		height: 33rem;
	}
}

.slider--cont__pad {
	width: 80%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.slide-heading {
	@extend .bold;

	margin-bottom: 0.3em;
	line-height: .9em;
}

img.slide-img {
	width: 100%;
	height: auto;
}

#slider-2--cont img.slide-img {
	width: auto;
	height: 100%;

	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

%arw {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;

	cursor: pointer;

	width: 5vw;
	z-index: 100;

	max-width: 50px;
	transition: fill .3s ease, -webkit-transform .1s ease-in-out;
	transition: fill .3s ease, transform .1s ease-in-out;
	transition: fill .3s ease, transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
	
	polygon {
		cursor: pointer;
	}

	&.arw_wht {
		fill: rgba(255,255,255,.7);

		&:hover {
			fill: rgba(255,255,255,1);
		}
		&:active {
			fill: rgba(150,150,150,1);
		}
	}

	&:hover {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}

	&:active {
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
}

.arw-r {
	@extend %arw;
	right: 1rem;
}

.arw-l {
	@extend %arw;
	left: 1rem;
}


/*-- FOOTER ---------*/
.contact-icn--cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
}

$icn-color: #333;

.icn--cont {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	position: relative;

	text-decoration: none;
	color: darken($icn-color, 20%);

	min-width: 170px;
	max-width: 240px;
	width: 19vw;
	margin-bottom: 1rem;

	.icn {
		height: 3rem;
	 	width: 3rem;
		margin-bottom: .4rem;
		transition: -webkit-transform .8s ease-in-out;
		transition: -webkit-transform .8s ease-in-out;
		transition: transform .8s ease-in-out;
		transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
	}

	.icn__lrg {
		height: 5rem;
		width: 5rem;
	}

	.icn__rotate {
		transition: unset;
		-webkit-animation: icnRotate;
		        animation: icnRotate;
		-webkit-animation-duration: 5s;
		        animation-duration: 5s;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
	}

	p span:after {
		content: "";
		transition: width .8s ease-in-out;
		height: 2px;
		background: linear-gradient(to right, rgb(0,174,234), rgb(49,39,131));
		width: 0;
		display: block;
		margin: 0 auto;
		margin-top: .01em;
		cursor: pointer;
	}

	.icn--bg, .icn--bg__hover  {
		opacity: 1;
		transition: opacity .8s ease-in-out;
	}

	&.icn--cont__hover:hover {
		top: -2px;

		p span:after {
			width: 100%;
		}

		.icn {
			-webkit-transform: rotateY(360deg);
			        transform: rotateY(360deg);

			.icn--bg {
				opacity: 0;
			}
		}
	}

	&.icn--cont__hover:active {
		top: 1px;
	}
}

@-webkit-keyframes icnRotate {
	0% {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
	40% {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
}

@keyframes icnRotate {
	0% {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
	40% {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
}

#footer {
	width: 100%;
	padding: 1rem;

	box-sizing: border-box;
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.footer-link {
	@extend .body;
	color:#fff;

	transition: color .3s ease-in-out;
	position: relative;

	cursor: pointer;

	&:visited {
		color:#fff;
	}

	&:hover {
		color: lighten(#00aeea, 10%);
		top: -1px;
	}

	&:active {
		color: darken(#00aeea, 10%);
		top: 1px;
	}
}
